@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme static {
  --font-serif: "Manrope", serif;
  --font-sans: "Parkinsans", sans-serif;

  --color-cod-50: #fbf4f5;
  --color-cod-100: #f5e9eb;
  --color-cod-200: #e9ced5;
  --color-cod-300: #d7a2b1;
  --color-cod-400: #c07087;
  --color-cod-500: #a94e69;
  --color-cod-600: #8d3c52;
  --color-cod-700: #733142;
  --color-cod-800: #602c39;
  --color-cod-900: #512932;
  --color-cod-950: #0a0506;

  --color-amaranth-50: #fef2f2;
  --color-amaranth-100: #fde7e6;
  --color-amaranth-200: #fbd0d2;
  --color-amaranth-300: #f7aaad;
  --color-amaranth-400: #f27a81;
  --color-amaranth-500: #e74150;
  --color-amaranth-600: #d42a41;
  --color-amaranth-700: #b31d36;
  --color-amaranth-800: #961b33;
  --color-amaranth-900: #801b32;
  --color-amaranth-950: #470a16;

  --color-pelorous-50: #f0fafb;
  --color-pelorous-100: #daf1f3;
  --color-pelorous-200: #b9e4e8;
  --color-pelorous-300: #89cfd7;
  --color-pelorous-400: #52b2be;
  --color-pelorous-500: #3ca6b6;
  --color-pelorous-600: #307a8a;
  --color-pelorous-700: #2c6472;
  --color-pelorous-800: #2b535f;
  --color-pelorous-900: #284751;
  --color-pelorous-950: #162d36;

  --color-fall-50: #faf9f0;
  --color-fall-100: #ebe6be;
  --color-fall-200: #e3dca4;
  --color-fall-300: #d5c774;
  --color-fall-400: #cab455;
  --color-fall-500: #c09b40;
  --color-fall-600: #a97e36;
  --color-fall-700: #8d6030;
  --color-fall-800: #744d2c;
  --color-fall-900: #604127;
  --color-fall-950: #362212;
}
